      /* COLLAPSABLE CONTENT*/
      /* All elements with "clickHereto" string in their classnames */
      [class*="clickHereto"], [class*="clickHereto"] span {
        cursor: pointer;
        padding-left:0em; 
        margin-left:0em;
      }
      /* Feed text into more/less buttons */
      .clickHeretoShowHide span::before {
        content: "▽ mer/mindre △";
        font-style: italic;
        color:gray;
      }
      .clickHeretoHide span::before {
        content: "△ gömma";
        font-style: italic;
        color:gray;
      }
    
      /* Set Collapsing div */
      .collapsingDiv {
        font-style: italic;
        color:gray;
        padding:0em; 
        margin:0em;
      }
      /* Set div within Collapsing div */
      .collapsingDiv div{
        padding:0em; 
        margin:0em 2em 0em 2em;
      }

      /* "DETAILS/SUMMARY" */
      details > summary {
        margin-left: 0em;
        border: none;
        cursor: pointer;
      }
    
      details > div {
        margin-left: 0em;
      }



      /* GRIDS */
      /* All "gridCointainers" */
      [class*="gridContainer"] div {
        margin:auto;
      }
    
      .gridContainer1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        grid-gap: 0.2em;
        justify-content: space-between;
      }
    
      .gridContainer2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
        align-items: center;
        text-align: justify;
      }
    
      /* Change AIPCR grid layout to 1 col / 4 rows in smaller windows */
      @media screen and (max-width: 900px){
        .gridContainer2{
           grid-template-columns: 1fr;
           grid-template-rows: auto;
        }
     }

      .gridContainer3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
        align-items: center;
        text-align: justify;
      }

      /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* Style the close button in tabcontent */
.topright {
  padding-top: 0;
  float: right;
  vertical-align: text-top;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
      
.transition{
  -webkit-transition: all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
}

